<%= provide :title, nil %>
<%= provide :seo_title, "Eric Mulligan's Blog" %>
<%= provide :seo_description, 'A blog about Coding, Music and other things.' %>

<section id="posts">
  <%= render partial: 'posts/partials/post', collection: @posts, locals: { linked: true } %>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</section>
