<%= provide :title, nil %>
<%= provide :seo_title, "Eric Mulligan's Blog" %>
<%= provide :seo_description, 'A blog about Coding, Music and other things.' %>

<section id="posts">
  <%- @posts.each do |post| %>
    <%= render partial: 'posts/partials/post', locals: { post: post, linked: true } %>
  <%- end %>

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</section>
