<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#nav" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'EricMulligan.ca', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= current_page?(controller: '/static_pages', action: 'about') ? 'active' : '' %>"><%= link_to 'About Me', about_path %></li>
        <li><a href="http://cv.ericmulligan.ca" target="_blank">My CV</a></li>
        <li class="<%= current_page?(controller: '/contact', action: 'index') ? 'active' : '' %>"><%= link_to 'Contact Me', contact_path %></li>
        <% if signed_in? -%>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">View</li>
              <li class="<%= current_page?(controller: '/categories', action: 'index') ? 'active' : '' %>"><%= link_to 'Categories', categories_path %></li>
              <li class="divider" role="separator"></li>
              <li class="dropdown-header">Create New</li>
              <li class="<%= current_page?(controller: '/posts', action: 'new') ? 'active' : '' %>"><%= link_to 'Posts', new_post_path, rel: 'nofollow' %></li>
              <li class="<%= current_page?(controller: '/categories', action: 'new') ? 'active' : '' %>"><%= link_to 'Categories', new_category_path, rel: 'nofollow' %></li>
              <li class="divider" role="separator"></li>
              <li><%= link_to t('.sign_out'), sign_out_path, method: :delete, id: 'sign-out-lnk', rel: 'nofollow' %></li>
            </ul>
          </li>
        <% else -%>
          <li class="<%= current_page?(controller: 'clearance/sessions', action: 'new') ? 'active' : '' %>"><%= link_to t('.sign_in'), sign_in_path, rel: 'nofollow' %></li>
        <% end -%>
        </li>
      </ul>
    </div>
  </div>
</nav>
