<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= title yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="<%= yield(:seo_description) %>" />
  <link rel="canonical" href="<%= "http://ericmulligan.ca#{request.original_fullpath}" %>" />
  <!-- Facebook OpenGraph -->
  <meta property="og:locale" content="en-ca" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= title yield(:seo_title) %>" />
  <meta property="og:description" content="<%= yield(:seo_description) %>" />
  <meta property="og:url" content="<%= "http://ericmulligan.ca#{request.original_fullpath}" %>" />
  <meta property="og:site_name" content="EricMulligan.ca" />
  <meta property="fb:admins" content="698345380" />
  <!-- Twitter Card -->
  <meta name="twitter:card" content="website" />
  <meta name="twitter:description" content="<%= yield(:seo_description) %>" />
  <meta name="twitter:title" content="<%= title yield(:seo_title) %>" />
  <meta name="twitter:site" content="@EricPMulligan" />
  <meta name="twitter:domain" content="http://ericmulligan.ca" />
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "#{request.base_url}/index.rss") %>
</head>
<body>
  <%= render partial: 'layouts/partials/nav' %>

  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div id="flash">
          <% flash.each do |key, value| -%>
            <div class="alert alert-<%= alert_type(key) %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <%- if key == 'alert' && value.is_a?(Array) %>
                <p>The server returned the following error(s):</p>
                <ul>
                  <%- value.each do |error| %>
                    <%= error.html_safe %>
                  <%- end %>
                </ul>
              <%- else %>
                <%= value %>
              <%- end %>
            </div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>

<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
<%- if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53194633-2', 'auto');
  ga('send', 'pageview');

</script>
<%- end %>
</body>
</html>
